
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

body {
	background-color: darkgreen;
}
h1 {
	color: white;
	font-family: fantasy;
}
h2 {
	color: white;
	font-family: sans-serif;
}
p {
	color: white;
	font-family: sans-serif;
}

img {
  margin: 20;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;






